<h1><%= "#{@toy.name}" %></h1>
<h2><%= "Toy type: #{@toy.variety}" %></h2>
<h2><%= "Belongs to: #{@toy.owner.name}" %></h2>

<% if @toy.owner_id == current_user.id %>
  <form method="get" action="/toys/<%= @toy.id %>/edit">
    <button type="submit" value="Edit Toy">Edit Toy</button>
  </form>
  <br />

  <form method="post" action="/toys/<%=@toy.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Toy">
  </form>

<% end %>

<a href="/owners/<%= current_user.id %>">Back to your list</a>
<a href="/toys">See All the Toys!</a>
<a href="/logout">Logout</a>
